{{template "authorizedLayout" .}}

{{define "header"}}{{end}}
{{define "title"}}Posts{{end}}

{{define "main"}}
<div class="row">
    <h2>
        Posts
    </h2>
</div>

<ul class="posts" id="posts" style="margin-top:20px;padding:0;list-style:none;height:calc(100% - 400px);height:-webkit-calc(100% - 400px);height:-moz-calc(100% - 400px);overflow-y: auto;overflow-x: hidden">
    {{range .Posts}}
    <li class="row border-bottom pb-3 mb-3">
        <span id="{{.ID}}" class="title">Title: {{.Title}}</span>
        <div class="text">Text: {{.Text}}</div>
    </li>
    {{end}}
</ul>

<div class="row" style="margin-top:30px">
    <form name="addPost" id="addPostForm" action="" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="title"/>
        </div>
        <div class="form-group">
            <label for="post">Text</label>
            <textarea class="form-control" id="post" placeholder="Text" name="text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top:20px">Add Post</button>
    </form>
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    let form = document.getElementById('addPostForm');
    form.onsubmit = function () {
        let xhr = new XMLHttpRequest();
        let formData = new FormData(form);
        //open the request
        xhr.open('POST', '/post/api/v1/post');
        xhr.setRequestHeader("Content-Type", "application/json");

        let title = formData.get('title');
        let text = formData.get('text');
        let data = {
            title: title,
            text: text,
        };

        //send the form data
        xhr.send(JSON.stringify(data));

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    let response = JSON.parse(xhr.response)
                    let postId = response.post_id;
                    let li = document.createElement('li');
                    li.setAttribute('class', 'row border-bottom pb-3 mb-3');
                    li.innerHTML = `
                        <span id="` + postId + `" class="title">Title: ` + title + `</span>
                        <div class="text">Text: ` + text + `</div>
                    `;
                    document.getElementById('posts').appendChild(li);
                } else {
                    alert(xhr.response);
                }
            }
        }
        //Fail the onsubmit to avoid page refresh.
        return false;
    }
</script>
{{end}}