{{template "authorizedLayout" .}}

{{define "header"}}
<script src="https://cdn.jsdelivr.net/gh/centrifugal/centrifuge-js@2.8.4/dist/centrifuge.min.js"></script>
{{end}}
{{define "title"}}New Posts{{end}}

{{define "main"}}
<div class="row">
    <h2>
        New Posts
    </h2>
</div>
<input type="hidden" id="realtimeHost" value="{{.RealtimeHost}}">
<input type="hidden" id="userId" value="{{.UserID}}">
<div class="posts" id="posts">
    {{range .Posts}}
    <div class="row post" id="{{.ID}}">
        <div class="author">Author: {{.Author}}</div>
        <div class="title">Title: {{.Title}}</div>
    </div>
    {{end}}
</div>

{{end}}
{{define "script"}}
<script type="text/javascript">
    let realtimeHost = document.getElementById('realtimeHost').value;
    let userId = document.getElementById('userId').value;
    let posts = document.getElementsByClassName('post');
    for (let i = 0; i < posts.length; i++) {
        posts[i].addEventListener('click', function () {
            window.location.href = '/app/post/' + this.id
            return false;
        }, false);
    }

    const centrifuge = new Centrifuge(realtimeHost);
    centrifuge.subscribe("post:" + userId, function (ctx) {
        var div = document.createElement('div');
        div.setAttribute('class', 'row post');
        div.setAttribute('id', ctx.data.post_id);
        div.innerHTML = `
                        <div class="author">Author: ` + ctx.data.author + `</div>
                        <div class="title">Title: ` + ctx.data.title + `</div>
                    `;
        document.getElementById('posts').appendChild(div);
    });

    centrifuge.connect();
</script>
{{end}}