{{template "authorizedLayout" .}}

{{define "header"}}
<script src="https://cdn.jsdelivr.net/gh/centrifugal/centrifuge-js@2.8.4/dist/centrifuge.min.js"></script>
{{end}}
{{define "title"}}New Posts{{end}}

{{define "main"}}
<div class="row">
    <h2>
        New Posts
    </h2>
</div>
<input type="hidden" id="realtimeHost" value="{{.RealtimeHost}}">
<input type="hidden" id="userId" value="{{.UserID}}">

<ul class="posts" id="posts" style="margin-top:20px;padding:0;list-style:none;height:calc(100% - 150px);height:-webkit-calc(100% - 150px);height:-moz-calc(100% - 150px);overflow-y: auto;overflow-x: hidden">
    {{range .Posts}}
    <li class="row post border-bottom pb-3 mb-3" id="{{.ID}}">
        <div class="author">Author: {{.Author}}</div>
        <div class="title">Title: {{.Title}}</div>
    </li>
    {{end}}
</ul>

{{end}}
{{define "script"}}
<script type="text/javascript">
    let realtimeHost = document.getElementById('realtimeHost').value;
    let userId = document.getElementById('userId').value;
    let posts = document.getElementsByClassName('post');
    for (let i = 0; i < posts.length; i++) {
        posts[i].addEventListener('click', function () {
            window.location.href = '/app/post/' + this.id
            return false;
        }, false);
    }

    const centrifuge = new Centrifuge(realtimeHost);
    centrifuge.subscribe("post:" + userId, function (ctx) {
        var li = document.createElement('li');
        li.setAttribute('class', 'row post border-bottom pb-3 mb-3');
        li.setAttribute('id', ctx.data.post_id);
        li.innerHTML = `
                        <div class="author">Author: ` + ctx.data.author + `</div>
                        <div class="title">Title: ` + ctx.data.title + `</div>
                    `;
        li.addEventListener('click', function () {
            window.location.href = '/app/post/' + this.id
            return false;
        }, false);
        document.getElementById('posts').appendChild(li);
    });

    centrifuge.connect();
</script>
{{end}}