{{template "authorizedLayout" .}}

{{define "header"}}{{end}}
{{define "title"}}User Profile{{end}}

{{define "main"}}
<div class="row">
    <h2>
        User Profile
    </h2>
</div>
<div class="row">
    <label for="username" class="col-sm-2 col-form-label">Nickname: </label>
    <div class="col-sm-10">
        <input type="text" readonly id="username" class="form-control-plaintext"  value="{{.Profile.Username}}"/>
    </div>
</div>
<div class="row">
    <label for="firstName" class="col-sm-2 col-form-label">First Name: </label>
    <div class="col-sm-10">
        <input type="text" readonly id="firstName" class="form-control-plaintext"  value="{{.Profile.FirstName}}"/>
    </div>
</div>
<div class="row">
    <label for="lastName" class="col-sm-2 col-form-label">Last Name: </label>
    <div class="col-sm-10">
        <input type="text" readonly id="lastName" class="form-control-plaintext"  value="{{.Profile.LastName}}"/>
    </div>
</div>
<div class="row">
    <label for="age" class="col-sm-2 col-form-label">Age: </label>
    <div class="col-sm-10">
        <input type="text" readonly id="age" class="form-control-plaintext"  value="{{.Profile.Age}}"/>
    </div>
</div>
<div class="row">
    <label for="sex" class="col-sm-2 col-form-label">Sex: </label>
    <div class="col-sm-10">
        <input type="text" readonly id="sex" class="form-control-plaintext" value="{{ if eq .Profile.Sex 0 }}Male{{ else if eq .Profile.Sex 1}}Female{{ end }}"/>
    </div>
</div>
<div class="row">
    <label for="interests" class="col-sm-2 col-form-label">Interests: </label>
    <div class="col-sm-10">
        <input type="text" readonly id="interests" class="form-control-plaintext"  value="{{.Profile.Interests}}"/>
    </div>
</div>
<div class="row">
    <label for="city" class="col-sm-2 col-form-label">City: </label>
    <div class="col-sm-10">
        <input type="text" readonly id="city" class="form-control-plaintext"  value="{{.Profile.City}}"/>
    </div>
</div>
<div class="row">
    <label class="col-sm-2 col-form-label">Friends: </label>
    <ul class="col-sm-10" style="list-style:none;">
    {{range .Friends}}
        <li><a class="friend" href="/app/profile/{{.ID}}">{{.Username}}</a></li>
    {{end}}
    </ul>
</div>
<input type="hidden" id="userId" value="{{.Profile.ID}}">
{{ if not .IsSelfProfile }}
<button id="addToFriendsButton" class="btn btn-primary" {{ if .IsFriend }} style="margin-right:20px;display:none" {{ end }}>Add To Friends</button>
<button id="removeFromFriendsButton" class="btn btn-primary" {{ if not .IsFriend }} style="margin-right:20px;display:none" {{ end }}>Remove From Friends</button>
<button id="startConversationButton" class="btn btn-primary" {{ if not .IsFriend }} style="margin-right:20px;display:none" {{ end }}>Start conversation</button>
{{ end }}
{{end}}
{{define "script"}}
<script type="text/javascript">
    let userId = document.getElementById('userId').value;
    let addToFriendsButton = document.getElementById('addToFriendsButton');
    let removeFromFriendsButton = document.getElementById('removeFromFriendsButton');
    let startConversationButton = document.getElementById('startConversationButton');

    addToFriendsButton.addEventListener("click", function () {
        let xhr = new XMLHttpRequest();
        //open the request
        xhr.open('POST', '/user/api/v1/friend/add');
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({userID: userId}));

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    addToFriendsButton.style.display = "none";
                    removeFromFriendsButton.style.display = "inline-block";
                    startConversationButton.style.display = "inline-block";
                } else {
                    alert("error");
                }
            }
        }
        return false;
    });

    removeFromFriendsButton.addEventListener("click", function () {
        let xhr = new XMLHttpRequest();
        //open the request
        xhr.open('POST', '/user/api/v1/friend/remove');
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify({userID: userId}));

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    addToFriendsButton.style.display = "inline-block";
                    removeFromFriendsButton.style.display = "none";
                    startConversationButton.style.display = "none";
                } else {
                    alert("error");
                }
            }
        }
        return false;
    });

    startConversationButton.addEventListener("click", function () {
        window.location.href = '/app/conversation/user/' + userId
        return false;
    });
</script>
{{end}}